<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Torrent Workshops</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <!--<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
    </head>
    <body>

      <div class="row-container">
      <div class="container">
        <div class="site">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">torrent workshops</a>
          </div>
          <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Part 1. Tracker</a>
              <li><a href="/">Part 2. Protocol</a>
            </ul>
          </nav>

          <div class=content>{% block content %}{% endblock %}</div>
          <hr>

          <div class="footer">
            <div class="contact">
              <p>
                Michał Zieliński<br />
                michal@zielinscy.org.pl
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/zielmicha">github.com/zielmicha</a><br />
                <a href="https://twitter.com/zielmicha">twitter.com/zielmicha</a><br />
              </p>
            </div>
          </div>
        </div>
        </div>
